<a href="https://colab.research.google.com/github/Prakashlpk/Zomato-Insights/blob/main/Zomato.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-9.2.0-cp311-cp311-manylinux_2_28_x86_64.whl.metadata (6.0 kB)
Downloading mysql_connector_python-9.2.0-cp311-cp311-manylinux_2_28_x86_64.whl (34.0 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 34.0/34.0 MB 20.2 MB/s eta 0:00:00
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-9.2.0

In [ ]:
import mysql.connector

In [ ]:
pip install Faker

Collecting Faker
  Downloading Faker-36.1.1-py3-none-any.whl.metadata (15 kB)
Requirement already satisfied: tzdata in /usr/local/lib/python3.11/dist-packages (from Faker) (2025.1)
Downloading Faker-36.1.1-py3-none-any.whl (1.9 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.9/1.9 MB 50.0 MB/s eta 0:00:00
Installing collected packages: Faker
Successfully installed Faker-36.1.1

In [ ]:
from faker import Faker

In [ ]:
food=Faker()

In [ ]:
class zomato:
  def __init__(self, host, user, password, port, database):
    self.host = host
    self.user = user
    self.password = password
    self.port = port
    self.database = database
    self.conn = None
    self.cursor = None
  def connect(self):
    self.conn = mysql.connector.connect(host = self.host, user = self.user, password = self.password, port = self.port, database = self.database)
    self.cursor = self.conn.cursor()
    print("connection success")
  def customers_table(self,TQ):
    self.cursor.execute(TQ)
    self.conn.commit()
  def restaurants_table(self,TQ1):
    self.cursor.execute(TQ1)
    self.conn.commit()
  def orders_table(self,TQ2):
    self.cursor.execute(TQ2)
    self.conn.commit()
  def deliveries_table(self,TQ3):
    self.cursor.execute(TQ3)
    self.conn.commit()
  def delivery_person_table(self,TQ4):
    self.cursor.execute(TQ4)
    self.conn.commit()
    print("table creation successful")
  def insert_list_of_tuple(self, insert_query, list_tuple):
    self.cursor.executemany(insert_query, list_tuple)
    self.conn.commit()
    print("insertion successful")
  def fetch_all(self, query):
    self.cursor.execute(query)
    return self.cursor.fetchall()
    self.conn.commit()
  def update(self, query):
    self.cursor.execute(query)
    self.conn.commit()
  def delete(self,query):
    self.cursor.execute(query)
    self.conn.commit()
  def queries(self, query):
    self.cursor.execute(query)
    self.conn.commit()

In [ ]:
config = {"host":"gateway01.ap-southeast-1.prod.aws.tidbcloud.com", "user":"3843tbpvmio3tiw.root", "port":4000, "password":"BvhwR5z1itdG9CMJ", "database":"Zomato"}
prak = zomato(**config)

In [ ]:
prak.connect()

connection success

In [ ]:
TQ = """create table customer_table (customer_id int auto_increment primary key, name varchar(100), email varchar(200) unique not null,
phone varchar(200) unique not null,location text, signup_date date not null,is_premium boolean,
preferred_cuisine varchar(200),total_orders int,average_rating decimal(3,2))auto_increment=10000"""
prak.customers_table(TQ)

In [ ]:
TQ1 = """create table restaurants_table (restaurant_id int auto_increment primary key, name varchar(100) not null,
cuisine_type varchar(200) not null, location text not null, owner_name varchar(200), average_delivery_time int not null,
contact_number varchar(200) unique not null,rating decimal(2,1), total_orders int,is_active boolean)"""
prak.restaurants_table(TQ1)

In [ ]:

TQ2 = """create table orders_table (order_id int auto_increment primary key, customer_id int not null,restaurant_id int not null,
order_date datetime not null,delivery_time datetime default null, status ENUM ('pending','delivered','cancelled') not null,
total_amount decimal(10,2) not null,payment_mode ENUM ('gpay','cash') not null, discount_applied decimal(10,2),feedback_rating decimal(2,1),
constraint fk_customer_table foreign key (customer_id) references customer_table (customer_id),
constraint fk_restaurants_table foreign key (restaurant_id) references restaurants_table (restaurant_id))"""
prak.orders_table(TQ2)

In [ ]:

TQ3 = """create table deliveries_table (delivery_id int auto_increment primary key, order_id int,delivery_person_id int,
delivery_status ENUM ('on the way','pending','delivered','cancelled'),
distance decimal (4,2), delivery_time int, estimated_time int, delivery_fee decimal(6,2),
vehicle_type ENUM ('bike','car','van','truck') not null,
constraint fk_orders_table foreign key (order_id) references orders_table (order_id))"""
prak.deliveries_table(TQ3)

table creation successful

In [ ]:
TQ4 = """create table delivery_person_table (delivery_person_id int auto_increment primary key, name varchar(100), contact_number varchar(100), vehicle_type varchar(100),
total_deliveries int,average_rating decimal(3,2), location varchar(500)"""
prak.deliveries_table(TQ4)

ProgrammingError: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your TiDB version for the right syntax to use line 2 column 72 near ""

In [ ]:

data = Faker(["en_IN"])

In [ ]:
dir(data)

['__annotations__',
 '__class__',
 '__deepcopy__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattr__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 '_factories',
 '_factory_map',
 '_locales',
 '_map_provider_method',
 '_optional_proxy',
 '_select_factory',
 '_select_factory_choice',
 '_select_factory_distribution',
 '_unique_proxy',
 '_weights',
 'aadhaar_id',
 'aba',
 'add_provider',
 'address',
 'administrative_unit',
 'am_pm',
 'android_platform_token',
 'ascii_company_email',
 'ascii_email',
 'ascii_free_email',
 'ascii_safe_email',
 'bank',
 'bank_country',
 'bban',
 'binary',
 'boolean',
 'bothify',
 'bs',
 'building_number',
 'cache_pattern',
 'catch_phrase',
 'century',
 'chrome',
 'city',
 'city_name',
 'city_suffix',
 'color',
 'color_hsl',
 'color_hsv',
 'color_name',
 'color_rgb',
 'color_rgb_float',
 'company',
 'company_email',
 'company_suffix',
 'coordinate',
 'country',
 'country_calling_code',
 'country_code',
 'credit_card_expire',
 'credit_card_full',
 'credit_card_number',
 'credit_card_provider',
 'credit_card_security_code',
 'cryptocurrency',
 'cryptocurrency_code',
 'cryptocurrency_name',
 'csv',
 'currency',
 'currency_code',
 'currency_name',
 'currency_symbol',
 'current_country',
 'current_country_code',
 'date',
 'date_between',
 'date_between_dates',
 'date_object',
 'date_of_birth',
 'date_this_century',
 'date_this_decade',
 'date_this_month',
 'date_this_year',
 'date_time',
 'date_time_ad',
 'date_time_between',
 'date_time_between_dates',
 'date_time_this_century',
 'date_time_this_decade',
 'date_time_this_month',
 'date_time_this_year',
 'day_of_month',
 'day_of_week',
 'del_arguments',
 'dga',
 'domain_name',
 'domain_word',
 'dsv',
 'ean',
 'ean13',
 'ean8',
 'email',
 'emoji',
 'enum',
 'factories',
 'file_extension',
 'file_name',
 'file_path',
 'firefox',
 'first_name',
 'first_name_female',
 'first_name_male',
 'first_name_nonbinary',
 'fixed_width',
 'format',
 'free_email',
 'free_email_domain',
 'future_date',
 'future_datetime',
 'generator_attrs',
 'get_arguments',
 'get_formatter',
 'get_providers',
 'get_words_list',
 'hex_color',
 'hexify',
 'hostname',
 'http_method',
 'http_status_code',
 'iana_id',
 'iban',
 'image',
 'image_url',
 'internet_explorer',
 'ios_platform_token',
 'ipv4',
 'ipv4_network_class',
 'ipv4_private',
 'ipv4_public',
 'ipv6',
 'isbn10',
 'isbn13',
 'iso8601',
 'items',
 'job',
 'job_female',
 'job_male',
 'json',
 'json_bytes',
 'language_code',
 'language_name',
 'last_name',
 'last_name_female',
 'last_name_male',
 'last_name_nonbinary',
 'latitude',
 'latlng',
 'lexify',
 'license_plate',
 'linux_platform_token',
 'linux_processor',
 'local_latlng',
 'locale',
 'locales',
 'localized_ean',
 'localized_ean13',
 'localized_ean8',
 'location_on_land',
 'longitude',
 'mac_address',
 'mac_platform_token',
 'mac_processor',
 'md5',
 'mime_type',
 'month',
 'month_name',
 'msisdn',
 'name',
 'name_female',
 'name_male',
 'name_nonbinary',
 'nic_handle',
 'nic_handles',
 'null_boolean',
 'numerify',
 'opera',
 'optional',
 'paragraph',
 'paragraphs',
 'parse',
 'passport_dates',
 'passport_dob',
 'passport_full',
 'passport_gender',
 'passport_number',
 'passport_owner',
 'password',
 'past_date',
 'past_datetime',
 'phone_number',
 'pincode_in_army',
 'pincode_in_military',
 'pincode_in_state',
 'port_number',
 'postcode',
 'postcode_in_army',
 'postcode_in_military',
 'postcode_in_state',
 'prefix',
 'prefix_female',
 'prefix_male',
 'prefix_nonbinary',
 'pricetag',
 'profile',
 'provider',
 'providers',
 'psv',
 'pybool',
 'pydecimal',
 'pydict',
 'pyfloat',
 'pyint',
 'pyiterable',
 'pylist',
 'pyobject',
 'pyset',
 'pystr',
 'pystr_format',
 'pystruct',
 'pytimezone',
 'pytuple',
 'random',
 'random_choices',
 'random_digit',
 'random_digit_above_two',
 'random_digit_not_null',
 'random_digit_not_null_or_empty',
 'random_digit_or_empty',
 'random_element',
 'random_elements',
 'random_int',
 'random_letter',
 'random_letters',
 'random_lowercase_letter',
 'random_number',
 'random_sample',
 'random_uppercase_letter',
 'randomize_nb_elements',
 'rgb_color',
 'rgb_css_color',
 'ripe_id',
 'safari',
 'safe_color_name',
 'safe_domain_name',
 'safe_email',
 'safe_hex_color',
 'sbn9',
 'seed',
 'seed_instance',
 'seed_locale',
 'sentence',
 'sentences',
 'set_arguments',
 'set_formatter',
 'sha1',
 'sha256',
 'simple_profile',
 'slug',
 'ssn',
 'state',
 'street_address',
 'street_name',
 'street_suffix',
 'suffix',
 'suffix_female',
 'suffix_male',
 'suffix_nonbinary',
 'swift',
 'swift11',
 'swift8',
 'tar',
 'text',
 'texts',
 'time',
 'time_delta',
 'time_object',
 'time_series',
 'timezone',
 'tld',
 'tsv',
 'union_territory',
 'unique',
 'unix_device',
 'unix_partition',
 'unix_time',
 'upc_a',
 'upc_e',
 'uri',
 'uri_extension',
 'uri_page',
 'uri_path',
 'url',
 'user_agent',
 'user_name',
 'uuid4',
 'vin',
 'weights',
 'windows_platform_token',
 'word',
 'words',
 'xml',
 'year',
 'zip',
 'zipcode_in_army',
 'zipcode_in_military',
 'zipcode_in_state']

In [ ]:
Preferred_cuisine=['North Indian','South Indian','Chinese']

In [ ]:
customer_ids = prak.fetch_all("select customer_id from customer_table")
customer_ids = [row[0] for row in customer_ids]

In [ ]:
restaurant_ids = [row[0] for row in prak.fetch_all("select restaurant_id from restaurants_table")]

In [ ]:
order_ids=[row[0] for row in prak.fetch_all("select order_id from orders_table")]

In [ ]:
from datetime import datetime

In [ ]:
random_date = data.date_between(start_date= datetime(2023,1,1), end_date=datetime(2024,12,31))

In [ ]:
Customer_table = []
for i in range(1,1000):
     Customer_table.append((data.name(),data.unique.email(),data.unique.phone_number(),data.address(),data.date(),data.boolean(),
     data.random_element(Preferred_cuisine),data.random_int(min = 1, max = 1000),round(data.random.uniform(0, 5)),))

In [ ]:
IQ = """insert into customer_table (name, email, phone, location, signup_date, is_premium, preferred_cuisine,
total_orders,average_rating) values (%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)"""
prak.insert_list_of_tuple(IQ, Customer_table)

IntegrityError: 1062 (23000): Duplicate entry '?' for key 'customer_table.PRIMARY'

In [ ]:
customer_idnos = prak.fetch_all("select customer_id from customer_table")

In [ ]:
update_data = []
for customer_id in customer_idnos:
    random_date = data.date_between(start_date=datetime(2023, 1, 1), end_date=datetime(2024, 12, 31))
    update_data.append((random_date, customer_id[0]))

In [ ]:
UQ2="UPDATE customer_table SET signup_date = %s WHERE customer_id = %s"
prak.update(UQ2, update_data)

TypeError: kumar.update() takes 2 positional arguments but 3 were given

In [ ]:
UQ3="""UPDATE orders_table SET order_date = TIMESTAMPADD(SECOND, FLOOR(RAND() * 86400),
    DATE_ADD('2023-01-01', INTERVAL FLOOR(RAND() * 730) DAY))"""
prak.update(UQ3)

In [ ]:
UQ4="""UPDATE orders_table SET delivery_time = TIMESTAMPADD(SECOND, FLOOR(RAND() * 86400),
    DATE_ADD('2023-01-01', INTERVAL FLOOR(RAND() * 730) DAY))"""
prak.update(UQ4)

In [ ]:
update_query="UPDATE customer_table SET total_orders = FLOOR(1 + (RAND() * 100))"
prak.update(update_query)

In [ ]:
UQ5= "UPDATE orders_table SET delivery_time = TIMESTAMPADD(SECOND, FLOOR(RAND() * 1800), order_date)"
prak.update(UQ5)

In [ ]:
UQ6="""UPDATE orders_table SET delivery_time = IF(
    status = 'delivered',
    TIMESTAMPADD(SECOND, FLOOR(RAND() * 1800), order_date),
    NULL)"""
prak.update(UQ6)

In [ ]:
alter_query = "ALTER TABLE orders_table MODIFY total_amount INT"
prak.cursor.execute(alter_query)
prak.conn.commit()

In [ ]:
update_query1="UPDATE orders_table SET total_amount = FLOOR(1 + (RAND() * 10000))"
prak.update(update_query1)

In [ ]:
update_query2= "UPDATE orders_table SET discount_applied = total_amount * 0.05"
prak.update(update_query2)

In [ ]:
update_query3="UPDATE orders_table SET feedback_rating = NULL WHERE status IN ('pending', 'cancelled')"
prak.update(update_query3)

In [ ]:
Restaurants_table = []
for i in range(1,1000):
     Restaurants_table.append((data.name(),data.random_element(Preferred_cuisine),data.address(),data.name(),data.random_int(),
     data.phone_number(),round(data.random.uniform(0, 5),2),data.random_int(min=1,max=500),data.boolean()))

In [ ]:
IQ1 = """insert into restaurants_table (name, cuisine_type, location, owner_name, average_delivery_time,
contact_number,rating, total_orders, is_active) values (%s,%s,%s,%s,%s,%s,%s,%s,%s)"""
prak.insert_list_of_tuple(IQ1, Restaurants_table)

insertion successful

In [ ]:
update_query1="UPDATE restaurants_table SET average_delivery_time = FLOOR(10 + (RAND() * 30))"
prak.update(update_query1)

In [ ]:
update_query4 = """
UPDATE deliveries_table
SET delivery_time = CASE
    WHEN distance BETWEEN 31 AND 50 THEN FLOOR(45 + RAND() * 16)
    WHEN distance BETWEEN 16 AND 30 THEN FLOOR(30 + RAND() * 16)
    WHEN distance BETWEEN 6  AND 15 THEN FLOOR(15 + RAND() * 16)
    WHEN distance BETWEEN 1  AND 5  THEN FLOOR(1 + RAND() * 15)
    ELSE delivery_time
END"""
prak.update(update_query4)

In [ ]:
update_query5 = "UPDATE deliveries_table SET estimated_time = delivery_time + (FLOOR(RAND() * 11) - 5)"
prak.update(update_query5)

In [ ]:
alter_query = "ALTER TABLE deliveries_table MODIFY delivery_fee INT"
prak.cursor.execute(alter_query)
prak.conn.commit()

In [ ]:
update_query6 = """
    UPDATE deliveries_table
    SET delivery_fee = CASE
            WHEN distance BETWEEN 31 AND 50 THEN 150
            WHEN distance BETWEEN 11 AND 31 THEN 100
            WHEN distance BETWEEN 6 AND 11 THEN 50
            WHEN distance <=6 THEN 30
            ELSE delivery_fee
        END"""
prak.update(update_query6)

In [ ]:
Status=['pending','delivered','cancelled','on the way']

In [ ]:
Payment_mode=['gpay','cash']

In [ ]:
Orders_table = []
for i in range(1,1000):
     Orders_table.append((data.random.choice(customer_ids),data.random.choice(restaurant_ids),random_date,data.date_time(),
     data.random_element(Status),round(data.random.uniform(1,1000000),2), data.random_element(Payment_mode),
        round(data.random.uniform(1,10000),2),round(data.random.uniform(0,5),2)))

In [ ]:
IQ2 = """insert into orders_table (customer_id,restaurant_id,
order_date, delivery_time, status, total_amount, payment_mode, discount_applied, feedback_rating) values (%s,%s,%s,%s,%s,%s,%s,%s,%s)"""
prak.insert_list_of_tuple(IQ2, Orders_table)

insertion successful

In [ ]:
Vehicle=['bike','car','truck']

In [ ]:
Deliveries_table=[]
for i in range(1,1000):
  Deliveries_table.append((data.random.choice(order_ids),data.random_int(min=1,max=20),data.random_element(Status),
  round(data.random.uniform(1,50),2),data.random_int(min=1,max=200),data.random_int(min=1,max=200),
  round(data.random.uniform(1,1000)),data.random_element(Vehicle)))

In [ ]:
IQ3 = """insert into deliveries_table (order_id, delivery_person_id,
delivery_status, distance, delivery_time, estimated_time, delivery_fee,
vehicle_type) values (%s,%s,%s,%s,%s,%s,%s,%s)"""
prak.insert_list_of_tuple(IQ3, Deliveries_table)

insertion successful

In [ ]:
Delivery_persons_table =[]
for i in range(1,20):
  Delivery_persons_table.append((data.name(),data.unique.phone_number(),data.random_element(Vehicle),data.random_int(min=0,max=2000),
  round(data.random.uniform(0, 5)),data.address()))

In [ ]:
  IQ4 = """insert into delivery_person_table (name, contact_number,
vehicle_type, total_deliveries, average_rating ,location) values (%s,%s,%s,%s,%s,%s)"""
prak.insert_list_of_tuple(IQ4, Delivery_persons_table)